<h3>Новый рецепт</h3>
<hr>

<form class="form-horizontal" role="form" name="addReciepeForm" ng-class="{'has-error': !addReciepeForm.nameReciepe.$valid, 'has-success':addReciepeForm.nameReciepe.$valid}" ng-controller="NewReciepeCtr">

  <div class="form-group">
    <label class="control-label col-sm-2" for="nameReciepe">Название</label>
    <div class="col-sm-4">
      <input 
	      type="text" 
	      class="form-control" 
	      id="nameReciepe" 
	      name="nameReciepe" 
	      ng-model="this.title" 
	      ng-maxlength=200 />
    </div>
   </div>
  <div class="form-group" ng-class="{'has-error': !addReciepeForm.description.$valid, 'has-success':addReciepeForm.description.$valid}"> 
  		<label class="control-label col-sm-2" for="description">Описание</label>
		<div class="col-sm-4">  		
  			<textarea name="description" 
  					  id="description" 
  					  class="form-control" 
  					  ng-model="this.description"
  					  ng-maxlength=2000>
  					  	
  			</textarea>	
  		</div>
  </div>

  <div class="form-group" ng-class="{'has-error': !addReciepeForm.PhotoUrl.$valid, 'has-success':addReciepeForm.PhotoUrl.$valid}">
    <label class="control-label col-sm-2" for="PhotoUrl">Фотография (url)</label>
    <div class="col-sm-4">
      <input type="url" 
      		 class="form-control" 
      		 id="PhotoUrl" 
      		 name="PhotoUrl" 
      		 placeholder="http:\\" 
      		 ng-model="this.photoUrl">
  	</div>
  </div>

  <div class="form-group" ng-class="{'has-error': !addReciepeForm.time.$valid, 'has-success':addReciepeForm.time.$valid}" >
    <label class="control-label col-sm-2" for="time">Время готовки</label>
    <div class="col-sm-4">
      <input type="number" 
      		 class="form-control" 
      		 id="time" 
      		 name="time" 
      		 placeholder="мин." 
      		 ng-model="this.time"
      		 ng-maxlength=4
      		  >
  	</div>
  </div>

     
  <div class="form-group">
    <label class="control-label col-sm-2" for="ingridients">Ингридиенты</label>
    <div class="col-sm-4" id="inputAdd">
    <input  ng-repeat="ingridient in ingredients track by $index"
    	   	type="text" 
	    	   class="form-control" 
	    	   id="ingridients[$index]" 
	    	   name="ingridients[$index]"
	    	   placeholder="название и количество"
	    	   ng-model="this.ingredients[$index]">
      </div>
  </div>
 
  <button type="button" class="btn" ng-click="addInput()">Добавить</button>
 
 <div class="form-group"> 
  		<label class="control-label col-sm-2" for="instruction">Инструкция</label>
		<div class="col-sm-4">  		
  			<textarea name="instruction" id="instruction" class="form-control" ng-model="this.instruction"></textarea>	
  		</div>
  </div>
  
  <button class="btn" ng-click="saveRecipe('my')">Сохранить</button>
  
</form>


