<div class="container" ng-controller="reciepeCtrl">
        <h1>{{reciepeTitle}}</h1>
           
<img ng-src="{{this.photoUrl}}">
      
      
        <div class="row text-center">

                <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default" ng-click="saveRecipe('favorite')">Избранное</button>
                      <button type="button" class="btn btn-default" ng-click="saveRecipe('toBuy')">Покупки</button>
                      <button type="button" class="btn btn-default" ng-click="saveRecipe('plan')">План</button>
                      <button type="button" class="btn btn-default" ng-click="saveRecipe('reciepes')">Сохранить</button>
                      <button type="button" class="btn btn-sucsses"><a href="#/newReciep">Новый рецепт</a></button>
                    </div>


            <!-- <button type="button" class="btn btn-success" ng-click="saveRecipe()">Сохранить</button> -->
            <hr/>
        </div>    
             

            
            <p>{{this.description}}</p>
            <hr/>
           

<P>Ингридиенты:
<ul>
    <li ng-repeat="ingrid in this.ingredients track by $index">
     {{ingrid}}
    </li>
</ul>
    </P>
<div ng-bind-html="this.instruction | toTrusted"></div>

</div>

</div>